# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Node / Firebase Functions
functions/node_modules/
functions/.eslintcache
functions/*.log

# macOS
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Environment / secrets
.env
.env.local
